NEXT_PUBLIC_API_URL=

# On Sepolia
SEPOLIA_CONTRACT_ADDRESS=
SEPOLIA_RPC_URL=


# On Arbitrum Sepolia
ARBITRUM_SEPOLIA_CONTRACT_ADDRESS=
ARBITRUM_SEPOLIA_RPC_URL=

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
PRIVATE_KEY=

MINIO_ENDPOINT=
MINIO_SECURE=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=


GATEWAY_PUBLIC_URL=
STORAGE_URL=
BLOCKCHAIN_URL=
AI_URL=
SANDBOX_URL=
SANDBOX_BASE_IMAGE=
SANDBOX_DOS_IMAGE=
SANDBOX_WINE_IMAGE=


REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

ALLOWED_ORIGINS=
MAX_SCAN_FILE_BYTES=
MAX_UPLOAD_FILE_BYTES=